extends template
mixin createContent(contents)
	each item in contents
		div.content.one
			img(src="img/"+item.image)
			h3=item.header
			p=item.text
block variables
	- var title = 'Ibanez'
	-
		var listContent = [
			{'header' : 'Ibanez RG',
			'image' : 'img_8.jpg',
			'text' : 'Ibanez RG - это серия электрических гитар, выпускаемых компанией Ibanez. Они обычно имеют стратокастерный корпус с вырезом для удобства доступа к верхним ладам. Гитары этой серии обычно имеют тонкое и быстрое гриффовое сечение, что делает их удобными для игры быстрых риффов и соло. Они также обычно оснащены двумя хамбакерами или комбинацией хамбакера и сингла, что делает их подходящими для широкого диапазона музыкальных стилей, включая рок, металл и поп.'
			},
			{'header' : 'Gibson Les Paul',
			'image' : 'img_9.jpg',
			'text' : 'Ibanez PS, или Ibanez Paul Stanley Signature, - это электрическая гитара, созданная японской компанией Ibanez совместно с легендарным гитаристом и вокалистом группы Kiss, Полом Стэнли. Эта гитара была разработана в рамках серии Signature, которая представляет собой собственные модели гитар известных музыкантов.'
			},
			{'header' : 'Ibanez AZES40',
			'image' : 'img_10.jpg',
			'text' : 'Ibanez AZES40 - это электрическая гитара, входящая в серию AZ ES, разработанную компанией Ibanez. Гитара AZES40 представляет собой смесь элегантного дизайна и высокого качества звучания, которые делают ее привлекательной для широкого спектра музыкантов.Гитара AZES40 имеет корпус doublecutaway с глубокими срезами, созданный из легкого, но прочного липового дерева.'
			}
		]
block content
	div.main
		+createContent(listContent)

	